@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


:root {
    --cor-principal: #3A404E;
    --cor-secundaria: #667085;
    --cor-terciaria: #8E2424;
    --cor-quarta: #101828; 
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    font-family: "Inter", sans-serif;
}

.cabecalho {
    margin-top: 2em;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.cabecalho__guia__titulo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cabecalho__titulo {
    font-size: 18px;
    color: #3A404E;
    font-weight: 500;
}

.cabecalho__guia__item {
    font-size: 16px;
    color: #667085;
    font-weight: 500;
    text-decoration: none;
}

.cabecalho__guia {
    display: flex;
    gap: 32px;
}


.cabecalho__guia__item__botao{
    background: #8e2424;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin: 0 30px;
    width: auto;
}

.conteudo__principal {
    padding:30px;
    text-align: center;

    box-sizing: border-box;
}

.conteudo__principal__secao {
    margin: 6%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.conteudo__principal__subtitulo {
    color:var(--cor-terciaria);
    font-size: 16px;
    font-weight: 600;
}

.conteudo__principal__titulo {
    font-size: 48px;
    font-weight: 600;
    color: var(--cor-quarta);
}

.conteudo__principal__texto {
    font-size: 20px;
    color: var(--cor-secundaria);
    font-weight: 400;
    padding: 0 13em;
}

.conteiner__metricas {

    display: grid;
    grid-gap: 2rem; /*É só para eu ter uma noção do espaço que cada div tem.*/
    grid-template-columns: 23% 23% 23% 23%;

    text-align: left;


}

.conteiner__metricas__div {
    margin-left: 15%;
    padding: 20px 0; /*Agora ficou bom!*/

}

.conteiner__numero {
    font-weight: 600;
    color: var(--cor-terciaria);
    font-size: 60px;
    margin-bottom: 13px;
}

.conteiner__subtitulo {
    font-weight: 500;
    color: var(--cor-quarta);
    font-size: 18px; 
    margin-bottom: 15px;
}

.conteiner__texto {
    font-weight: 400;
    color: var(--cor-secundaria);
    font-size: 16px;
    text-align: left;
}